#meta-container,
#amplitude-player {
	text-align: center;
	margin-top: 5px;
}

#amplitude-player {
	box-shadow: 0 2px 12px 8px rgba(0, 0, 0, 0.1);
	margin-bottom: 20px;
}

#control-container {
	margin-top: 25px;
}

.song-title,
.song-artist {
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}